@import 'variables.scss';

@mixin very-small-mobile {
  @media (max-width: #{$very-small-mobile-width}) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: #{$small-tablet}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin fallback-tablet {
  @media (min-width: #{$fallback-tablet-width}) {
    @content;
  }
}
@mixin big-tablet {
  @media (max-width: #{$big-tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin fallback-desktop {
  @media (min-width: #{$fallback-desktop-width}) {
    @content;
  }
}
@mixin big-desktop {
  @media (max-width: #{$big-desktop-width}) {
    @content;
  }
}
@mixin fallback-big-desktop {
  @media (max-width: #{$fallback-big-desktop-width}) {
    @content;
  }
}
@mixin medium-desktop {
  @media (max-width: #{$medium-desktop-width}) {
    @content;
  }
}
@mixin very-big-desktop {
  @media (max-width: #{$very-big-desktop-width}) {
    @content;
  }
}
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    @content;
  }
}



.contacts-form {
    p {
        margin-top:.8em;
        margin-bottom:.8em;

    }

    .row {
        position: relative;
        margin: 0 -20px;
        .item-big {
            width: 64.5%;
            padding: 0 20px;
            margin-bottom: 40px;
            @include desktop {
                width: 100%;
            }
        }

        .sep {
            height:1;
            border-top:1px solid #e4e6ea;
            margin: 2em 0;
        }

        .item-small {
            width: 35.5%;
            margin-bottom: 40px;
            padding: 0 15px;
            @include big-desktop {
                width: 37% !important;
                margin: 0 auto 40px;
                display: block;
                max-width: 450px;
            }
            @include desktop {
                width: 100% !important;
                max-width: 450px;
                display: block;
                margin: 0 auto 40px;
            }
            @include big-tablet {
                width: 100% !important;
                max-width: 100%;
                display: block;
                margin: 0 auto 40px;
            }
            .btn {
                text-align: center;
                padding: 0 10px;
                width: 100%;
                margin-bottom: 30px;
                @include mobile {
                    font-size: 13px;
                }
            }
            & > *:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
    form {
        max-width:94%;
        @media only screen and (min-width: #{$mobile-width}) {
            max-width:98%;
        }
        @media only screen and (min-width: #{$tablet-width}) {
            max-width: 700px;
        }
        @media only screen and (min-width: #{$desktop-width}) {
            max-width: 840px;
        }
        @media only screen and (min-width: #{$medium-desktop-width}) {
            max-width: 900px;
        }
        @media only screen and (min-width: #{$big-desktop-width}) {
            max-width: 900px;
        }
        @media only screen and (min-width: #{$very-big-desktop-width}) {
            max-width: 900px;
        }
        .field-row.two-in-row {
            font-size: 0;
            margin: 0 -10px;
            .field-wrap {
                display: inline-block;
                vertical-align: top;
                padding: 0 10px;
                width: 50%;
                @include mobile {
                    width: 100%;
                }
            }
        }
        .number {
            margin-bottom: 34px;
            font-size: 0;
            .field-wrap {
                margin-bottom: 7px;
                .iban-wrap {
                    width: 75px;
                    display: inline-block;
                    margin-bottom: 8px;
                    margin-right:1px;
                    vertical-align: top;
                }
                input {
                    width: 100%;
                    padding: 0 15px;
                    &.small {
                        margin-right: 0;
                        width: 54px;
                    }
                }
            }
        }
        .field-wrap {
            font-size: 16px;
            margin-bottom: 28px;
            &.valid, &.error {
                &:after {
                    display: none;
                }
            }
            &.valid {
                input {
                    border: 1px solid $green-gp;
                }
            }
            &.error {
                input {
                    border: 1px solid rgb(237, 124, 124);
                }
            }
            input.error {
                border: 1px solid rgb(237, 124, 124) !important;
            }
            label.error {
                font-size: 12px;
                margin: 7px 0 0;
                color: rgb(237, 124, 124);
            }
            label, .label {
                color: rgb(93, 100, 107);
                display: block;
                font-size: 16px;
                margin-bottom: 9px;
            }
            input,
            textarea {
                box-shadow: 0 0 30px rgba(31, 35, 35, 0.1);
                border: 1px solid rgb(228, 230, 234);
            }
            textarea {
                //        resize: none;
                //        padding: 14px 17px;
                height: 180px;

                &.address {
                    height: 80px;
                }

                .error {
                    border: 1px solid rgb(237, 124, 124) !important;
                }

            }

            &.radio-box {
                font-size: 0;
            }
            .radio-wrap {
                display: inline-block;
                margin-bottom: 0;
                input + label {
                    width: 165px;
                    background-color: rgb(253, 253, 253);
                    border: 1px solid rgb(229, 229, 229);
                    padding: 0;
                    margin-bottom: 0;
                    text-align: center;
                    border-radius: 0;
                    font-size: 16px;
                    font-weight: 400;
                    display: inline-block;
                    color: rgba(93, 100, 107, .5);
                    &:before, &:after {
                                  display: none;
                              }
                }
                input:checked + label {
                    color: white;
                    border-color: $green-gp;
                    background: $green-gp;
                }
                &:last-child {
                    input + label {
                        border-left: none;
                    }
                }
                &:first-child {
                    input + label {
                        border-right: none;
                    }
                }
            }
        }
        .important {
            background-color: white;
            box-shadow: 0 0 30px rgba(31, 35, 35, 0.1);
            color: rgb(54, 58, 63);
            padding: 17px 20px;
            margin-bottom: 30px;
        }
        button {
            padding-right: 45px;
            color: $green-gp;
            text-decoration: none;
            position: relative;
            height: 48px;
            padding: 0 20px 0 20px;
            background: transparent;

            &:before {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.icon-right{
                padding: 0 47px 0 20px;
                min-width: 300px;
            }
        }
    }
}

