$very-small-mobile-width: 360px;
$small-mobile-width: 480px;
$mobile-width: 540px;
$small-tablet: 640px;
$tablet-width: 767px;
$fallback-tablet-width: 861px;
$big-tablet-width: 860px;
$desktop-width: 960px;
$fallback-desktop-width: 961px;
$big-desktop-width: 1024px;
$fallback-big-desktop-width: 1025px;
$medium-desktop-width: 1150px;
$very-big-desktop-width: 1250px;

$grey : #5d646b;
$grey-black: #3c3c3c;
$green-gp: #73be31; //rgb(115,190,49)
$brown-gp : #030;
$brown-light-gp : #294928;
$black: #030403;
