// form
.form-part.hidden { display: none; }

// Actu bloc
// The following makes the tags look a lot better when over a background image.
.article-list-item-body .article-list-item-tags .tag-item, .top-page-tags .tag-item {
  background-color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

// sitemap
.page-template-sitemap .page-sitemap a {
  color: $brown-light-gp;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $brown-gp;
    text-decoration: underline;
  }
}

// en form
.enform-full-width .enform {
  background-color:#73be31;
}

.enform .btn-primary {
  background-color: #f36d3a;
}

.en__field--NOT_TAGGED_12 {
  resize: vertical!important;
  overflow: auto!important;
  background-color: rgb(255, 255, 255)!important;
  border: 2px solid #f36d3a
}
