/* NO UPPERCASE FOR BLIND PEOPLE */

.btn, .wp-block-button__link {
	text-transform: none;
}

.btn, .wp-block-button__link {
	text-transform: none;
}

/* BTN-SECONDARY */

/* 
	.btn-secondary {
	 	border:2px solid black;
	 	color: black;
	}

*/
	.btn-secondary:hover {
		background-color:#198700;
	 	color: white;
	 	border:2px solid #198700; 
	}


/* BTN-PRIMARY */

.carousel-header .main-header .action-button .btn span{
	color:white;
}

/* ALL VISITED LINKS */

	a.external-link:after {
		display:none;
	}
