/* NO UPPERCASE FOR BLIND PEOPLE */

.btn, .wp-block-button__link {
	text-transform: none;
}

.btn, .wp-block-button__link {
	text-transform: none;
}

/* BTN-SECONDARY */

/* 
	.btn-secondary {
	 	border:2px solid black;
	 	color: black;
	}

*/
	.btn-secondary:hover {
		background-color:#198700;
	 	color: white;
	 	border:2px solid #198700; 
	}


/* BTN-PRIMARY */

.carousel-header .main-header .action-button .btn span{
	color:white;
}

/* ALL VISITED LINKS */

a:visited {
  color: none;
}

/* ACCORDION BLOCKS FINANCE

.accordion-block.accordion-lux .accordion-content .accordion-headline {
  color: #f36b35;
  background-color: transparent;
  text-align: center;
  border:0px;
  border-bottom: 1px dotted;
  border-radius:0px;
  font-weight:bold;
  font-family: Lora,serif;
}

.accordion-block.accordion-lux .accordion-content .accordion-headline:hover {
  color: #b33514;
  background-color: transparent;
}
.accordion-block .panel {
  background-image: url(https://www.greenpeace.org/static/planet4-luxembourg-stateless/2022/02/851ac2b4-paper-background-scaled.jpg);
  padding-top: 100px;
}
.accordion-block .panel .accordion-text {
  padding-top: 30px;
}

*/ 

/* NEW ACCORDION BLOCKS */

.accordion-block .accordion-content .accordion-headline {
  background-color: transparent !important;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
  font-family:'Roboto';
  border-radius:0px !important;
  color:black;
}

.accordion-block .accordion-content .accordion-headline:hover {
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
  border-radius:0px !important ;
  color:black;
}

.accordion-block .panel .accordion-text {
  font-family: 'Roboto';
}


.accordion-block .accordion-content .panel {
  background-color: transparent !important;
}

/* BACKGROUND BLUE, White text */

.has-blue-background-color {
  color:white !important ;
}


.columns-block.is-style-image-full .column-wrap img, .columns-block.block-style-tasks .column-wrap img {
  width:100%;
  height:100%;
} 