.site-footer {
  clear: both; // fix empty article with related call to action
  background: #73be31;
  color: #ffffff;

  .countries-list,
  .copyright {
    background: #73be31;
  }

  .footer-links {
    a {
      color: white;
      font-size: 1rem;

      &:hover {
        color: $grey;
      }
    }

    li:after {
      color: $grey;
    }
  }

  .footer-social-media {
    color: white;

    a:hover {
      color: black;
    }
  }

  .footer-links-secondary {
    li {
      &:after {
        color: $grey;
      }

      a {
        color: $grey;
        font-size: 1rem;

        &:hover {
          color: white;
        }
      }
    }
  }

  .copyright-text {
    color: $grey;
    font-size: .7rem;

    a {
      color: $grey;
    }

    .gp-year {
      color: $grey;
    }
  }
}