.filter-sidebar .filteritem a {
  border: 1px solid $grey;
}

.filter-sidebar .active-filter .activefilter-list .activefilter-tag {
  color: $black;
  border: 1px solid $grey;
}

.filter-sidebar .active-filter .activefilter-list .clearall {
  background: $green-gp;
  color: white;
  border: none;
}
